.vs/
.vscode/
.idea/
*.iml
*.sublime-workspace
*.sublime-project
*.swp
*.swo

Build/
*.o
*.exe
*.out
*.so
*.a
*.dll
*.lib
*.pdb
*.ilk

*.log
*.tmp
*.temp
*.zip
*.tar
*.gz
*.7z
*.bak
*.backup

*.env
*.secret
*.key
*.id

